* {
    /* outline: 1px solid rgb(245, 40, 4); */
}
body {
  background-image: url(https://storage.googleapis.com/needpix-storage/rsynced_items/seamless-blue-rock-stone-background.jpg); 
  width: 980px;
  margin: 2% auto auto auto; 
}
body div:nth-child(1){
    display: inline-block;
    height: 50px;
    width: 980px;
}
ul>li {
    float: left;
    width: 50%;
}
a {
    text-decoration: none;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 2em;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
}
ul:nth-child(1){
    text-align: start;
}
ul>li:nth-of-type(2){
    text-align: right;
}
header {
    border: 10px outset #4652a6;
    font-family: 'Notable', sans-serif;
    font-size: 350%;
    width: 400px;
    height: 70px;
    margin: auto;
    text-align: center;
    background: #216869;
    text-shadow: 1px 1px white;
    padding: auto;
}
h1 {
    width: 230px;
    margin: auto;
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
    font-style: italic;
}
section {
    width: 960px;
    height: 120px;
    margin-top: 30px;
}
img {
    width: 120px;
    float: left;
    border-radius: 60px;
}
#lucasSection p {
    background-color: rgba(0, 0, 0, 0.664);
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-left: 140px;
    padding: 20px;
}
#paulSection p {
  }