* {
    /* outline: 1px solid goldenrod; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    width: 980px;
    margin: 2% auto auto auto;
    background-image: url(https://storage.googleapis.com/needpix-storage/rsynced_items/seamless-blue-rock-stone-background.jpg);
}
body div:nth-child(1){
    display: inline-block;
    height: 50px;
    width: 980px;
}
ul>li {
    float: left;
    width: 50%;
}
a {
    text-decoration: none;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
     font-size: 2em;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
}
ul:nth-child(1){
    text-align: start;
}
ul>li:nth-of-type(2){
    text-align: right;
}
header {
    border: 10px outset #4652a6;
    font-family: 'Notable', sans-serif;
    font-size: 350%;
    width: 400px;
    height: 70px;
    margin: auto;
    text-align: center;
    background: #216869;
    text-shadow: 1px 1px white;
    padding: auto;
}
h1 {
    width: 230px;
    margin: auto;
    text-align: center;
    font-style: italic;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

#buttonsAndStats {
    display: inline;
} 
button {
    background: #216869;
    width: 200px;
    height: 35px;
    font-size: 105%;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
h2 {
    width: 5%;
    font-size: 150%;
}
#scores {
    height: 80px;
}
#scoreArea, #highScore {
    text-align: center;
    font-size: 2.5em;
    display: inline;
    background-color: rgba(156, 184, 184, 0.589);
    font-family: 'Press Start 2P', cursive;
}
#scoreArea {
    float: right;
}
#highScore {
    float: left;
    width: 500px;
}
#resources {
    margin-top: 10px;
    width: 450px;
    float: right;
}
#resources h3 {
    display: inline;
    font-size: 2em;
    background-color: rgba(156, 184, 184, 0.589);
    font-family: 'Fjalla One', sans-serif;
    /* float: right; */
    margin-right: 30px;
}
#resources h3:first-child {
    float: left;
}
#buyFish, #buyFood {
    display: inline;
}
#canvasDiv {
    height: 470px;
}
canvas {
    background: #69EBD0;
    background-size: 990px 500px;
    border: 10px solid silver; 
    border-radius: 5px;
}
#randomEventDiv p {
    font-size: 20px;
    margin-top: 5px;
    width: 970px;
    height: 48px;
    padding: .5%;
    font-weight: bold;
    background-color: rgba(156, 184, 184, 0.589);
    font-family: 'Press Start 2P', cursive,'Courier New', Courier, monospace;
}
#gameOver > form {
    position: fixed;
    width: 620px;
    height: 100px;
    margin-left: 156px;
    margin-top: 110px;
    top: 310px;
    border: 10px solid slategray;
    background: black;
    padding: 1% 1% 8% 1%;
}
#gameOver > form > input {
    margin-left: 215px;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(143, 138, 125);
}
h6 {
    padding-top: 10%;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    color: red;
    font-size: 150%;
    padding-bottom: 20px;
}